{% load static %}
<script src="{% static 'assets/js/common/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'assets/js/common/js.cookie.min.js' %}"></script> 

<script src="{% static 'assets/js/common/popper.min.js' %}"></script> 
<script src="{% static 'assets/js/common/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/buttons.colVis.min.js' %}"></script>

<script src="{% static 'assets/js/model_catalog/model_catalog.js' %}"></script>