{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/common/bootstrap.min.css' %}"></link>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>

<link rel="stylesheet" href="{% static 'assets/css/datatable/jquery.dataTables.min.css' %}"></link>
<link rel="stylesheet" href="{% static 'assets/css/datatable/responsive.dataTables.min.css' %}"></link>
<link rel="stylesheet" href="{% static 'assets/css/datatable/buttons.dataTables.min.css' %}"></link>
<link rel="stylesheet" href="{% static 'assets/css/common/main.css' %}"></link>
